<!doctype html>
<html lang="en" ng-app="codenameApp">

<head>
  <meta charset="utf-8">
  <title>Anomia</title>
  <link rel="icon" href="https://s3-ap-southeast-2.amazonaws.com/codenames/favicon.ico">

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js"></script>
  <script src="app.js"></script>
  <link rel="stylesheet" type="text/css" href="site.css">
</head>

<body ng-controller="GameController">
  <div class="container-fluid">
    <div class="row" ng-click="addCard()">
      <div class="col cardText text-center">
        {{pile.length > 0 ? pile[pile.length - 1].word : ""}}
      </div>
    </div>
    <div class="row align-items-center" ng-click="addCard()">
      <div class="col text-center cardSymbol">
        <img src="0.png" ng-show="pile.length > 0 && pile[pile.length - 1].symbol == 0" />
        <img src="1.png" ng-show="pile.length > 0 && pile[pile.length - 1].symbol == 1" />
        <img src="2.png" ng-show="pile.length > 0 && pile[pile.length - 1].symbol == 2" />
        <img src="3.png" ng-show="pile.length > 0 && pile[pile.length - 1].symbol == 3" />
        <img src="4.png" ng-show="pile.length > 0 && pile[pile.length - 1].symbol == 4" />
        <img src="5.png" ng-show="pile.length > 0 && pile[pile.length - 1].symbol == 5" />
        <img src="6.png" ng-show="pile.length > 0 && pile[pile.length - 1].symbol == 6" />
      </div>
    </div>
    <div class="row" ng-click="addCard()">
      <div class="cardText col text-center txtUpsideDown">
        {{pile.length > 0 ? pile[pile.length - 1].word : ""}}
      </div>
    </div>
  </div>
  
  <div class="row navbar fixed-bottom">
    <div class="col float-left">
      <button class="classButton" ng-click="addScore()">+1</button>
    </div>
    <div class="col text-center scoreBox">
      {{score}}
    </div>
    <div class="col float-right">
      <button class="classButton" ng-click="removeCard()">Remove</button>
    </div>

  </div>

</body>

</html>