
.cardText{
  min-height:440px;
  font-size: 120px;
  padding: 40px;
}


.cardSymbol{
  min-height:300px;
}


.classButton{
  border-radius: 39px; 
  -moz-border-radius: 39px; 
  -webkit-border-radius: 39px; 
  border: 2px solid #000; 
  font-size: 30px;
  padding: 20px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.scoreBox{  
  font-size: 30px;
  padding: 20px;
}

.txtUpsideDown 
{
	filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=2);  /* IE6,IE7 */
	ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)"; /* IE8 */
	-moz-transform: rotate(-180deg);  /* FF3.5+ */
	-o-transform: rotate(-180deg);  /* Opera 10.5 */
	-webkit-transform: rotate(-180deg);  /* Safari 3.1+, Chrome */
	position: absolute; 
}